{% extends 'base.html' %}

{% block content %}
<div class="login-container">
    <h2>Login to Your Account</h2>
    {% if messages %}
        {% for message in messages %}
            <p class="message {{ message.tags }}">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Email or Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your email or username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register-patient' %}">Sign up here</a></p>
    <p>Doctor can sign up here <a href="{% url 'register-doctor' %}">Sign up as a doctor</a></p>
</div>
{% endblock %}
